*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #dfdceead;
}
main{
    margin: 30px;
    align-content: center;
    padding: 20px;
    margin: auto;
    max-width: 80vw;
}
.titre{
    color: rgb(26, 21, 58);
    text-align: center;
    margin: 90px auto;
}
.parag h3{
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
.parag p{
    margin-bottom: 10px;
    padding-left: 10px;
}
.obj{
    display: flex;
    padding: 10px;
}
.obj section{
    width:50vw;
}
.obj section h1{
    font-size: 1.5em;
    display: inline-block;
    position: relative;
}
.obj section h1::after {
  content: ""; 
  
  width: 80px;  /* (par exemple, 50px) */
  height: 5px;  /* L'épaisseur de votre ligne */
  
  background-color: green; /* La couleur de votre ligne */
  
  position: absolute;
  left: 7px; /* Commence au début du titre */
  bottom: -5px; /* Espace entre le texte et la ligne (ajustez si besoin) */
}
.obj section h4{
    text-align: center;
    text-decoration :solid;
    margin: 10px;
    font-size: 1em;
}
.obj section p{
    text-align: center;
    font-size :medium;
}
ul{
    margin: 10px;
    padding: 20px;
    list-style-type: square;
    list-style-position: inside;
    line-height: 4;
}
#line{
    text-align: center;
    margin: 10px;
}
#line a{
    text-decoration: none;
    color:rgb(26, 21, 58);
    background-color: azure;
    padding: 5px;
    box-shadow:  3px 3px 1px black;
}
#line a:hover{
    color:green;
    box-shadow:  3px 3px 1px green;
}
.footer-container{
    display: flex;                
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
.footer-container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
} 
.footer-container a:hover{
    color: aquamarine;
} 