*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(160, 193, 236);
    line-height: 1.6;
}
.titre{
    background-image: url(images/nature1.jpg);
}