header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom , rgb(160, 193, 236), rgb(26, 21, 58));
    width:100vw ;
    position: sticky;
    z-index: 1000;
}
.title{
    padding: 10px;
}
.title h1{
    color: blanchedalmond;
    padding-left: 5px;
}

.title p{
    font-size: 10px;
    color: white;
}
nav{
    padding-right: 20px;
}
nav a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c3e50; 
  color: #ffffff; 
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px; 
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
nav a:hover{
    text-decoration: underline;
    transform: translateY(-2px);
    background-color: rgb(16, 209, 90);
}
nav a:visited{
    background-color: gray;
}
footer{
    background-color: black;
    color: white;
    width:100vw;
    padding: 7px 0;
}